<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Review.model_name.human, count: review.errors.count) %></h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field uline">
    <%= form.text_field :title, placeholder:"タイトル" %>
  </div>
  <div class="field uline">
    <%= form.text_field :author, placeholder:"著者" %>
  </div>
  <div class="field">
    <%= form.label :published, "発行年月" %>
    <%= form.date_select :published, start_year: 1900, placeholder:"発行年月" %>
  </div>
  <div class="field">
    <%= form.label :category_id, "カテゴリ" %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div class="field">
    <%= form.number_field :score, placeholder:"点数（100点満点中）" %>
  </div>

  <div class="field">
    <%= form.label :portrait, "表紙の画像" %>
    <%= form.file_field :portrait, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="field md-form">
    <%= form.text_area :content, placeholder:"内容（MarkDown形式で入力してください）" %>
  </div>

  <div class="actions">
    <%= form.submit value:"送信する" %>
  </div>
<% end %>
