<%= render "shared/header" %>

<div id="index_review">
  <p id="notice"><%= notice %></p>

  <h1>書評一覧</h1>

  <table>
    <thead>
      <tr>
        <th>表紙</th>
        <th>タイトル</th>
        <th>発行</th>
        <th>著者</th>
        <th>点数</th>
        <th>カテゴリ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= image_tag review.portrait, width: '80px', height: '120px' %></td>
          <td><%= review.title %></td>
          <td><%= review.published.strftime("%Y年%m月") %></td>
          <td><%= review.author %></td>
          <td><%= review.score %></td>
          <td><%= review.category.name %></td>
          <td><%= link_to '詳細', review %></td>
          <td><%= link_to '編集', edit_review_path(review) %></td>
          <td><%= link_to '削除', review, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= image_tag "/assets/人工衛星をつくる.png", width: '80px', height: '120px' %></td>
        <td>人工衛星をつくる</td>
        <td>2011年11月</td>
        <td>宮崎 康行</td>
        <td>90</td>
        <td>科学</td>
        <td><%= link_to '詳細', "show_sample2" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= image_tag "/assets/人間の建設.png", width: '80px', height: '120px' %></td>
        <td>人間の建設</td>
        <td>1985年</td>
        <td>岡潔・小林秀雄</td>
        <td>85</td>
        <td>教養</td>
        <td><%= link_to '詳細', "show_sample1" %></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <br>

  <%= link_to '新規作成', new_review_path %>
</div>

<%= render "shared/footer" %>
